*{ 
    margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.caixa-numero {
   width: 100px;
   height: 100px;
   background-color: gold;
   font-size: 64px;
   margin: 16px;
   text-align: center;
}
.caixa-nome{
    width: 500px;
    height: 100px;
    background-color: gold;
    font-size: 64px;
    margin: 16px;
    text-align: center;
}
.caixa-container{
    display: flex;
}